# Prerequisites
*.d

# VS 2019 Solution files
.vs
Sudoku/.vs
Sudoku/Sudoku/x64
Sudoku/Sudoku/*.vcxproj
Sudoku/Sudoku/*.vcxproj.*
Sudoku/x64
*.sln


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.txt
/Sudoku/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1
/Sudoku/Sudoku/Debug
/Sudoku/SudokuGeneratorTest/Debug
/Sudoku/SudokuGeneratorTest/x64
*.vcxproj
*.filters
*.user
/Sudoku/TestResults
/Sudoku/Debug
/Sudoku/SudokuGeneratorTest
/Sudoku/SudokuSolverTest
